
  <div class="hero-wrap hero-wrap-2 section-space"><div class="banner ">
    <img src="assets/images/jjj.png" alt="" class="mynftback">
    <div class="container ">
        <div class="row">
            <h1 class="texts col-lg-9 mx-auto pb-5 text-center">Explore, Create, sell and Buy Nfts</h1>
            <div routerLink="/explore"class=" text1 col-lg-6 mx-auto text-center mb-3" ><h3 class="txt1"  >Explore <br><span class="homepage--top-link-txt-2"> Nfts</span></h3>
                <a href="#" class="button mt-6 ">Go</a>
            </div>
            <div class=" text2 col-lg-6 mx-auto text-center mb-3"><h3 class="txt2">Create <br> <span class="homepage--top-link-txt-2">an Nft</span></h3>
                <a href="#" routerLink="/uploadprop"class="button mt-6">Go</a>   </div>
                
        </div>
    </div>
</div>
    
</div><!-- end hero-wrap -->

