
//***********************Banner******************


.banner
{
    width: 100%;
    height: 90vh;

    background-image: linear-gradient(rgba(91, 56, 244, 0.3),rgba(3, 51, 37, 0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.mynftback{
    z-index: 0;
    position: absolute;
    right: 0; 
    bottom: 0;
    
    
}
.container{
    z-index: 1;
}
@media(min-aspect-ratio:16/9){
    .mynftback{
        width:100%;
        height: auto;
    }
}
@media(max-aspect-ratio:16/9){
    .mynftback{
        width:auto;
        height: 100%;
    }
}
span{
    font-family: Cursive;
    font-weight: 300;
    font-size:30px;
    color: #22dfc3;
}


:root{
    --primary:blue;
    --dark:black;
    --body: gray;
    --box-shadow:0 2px 22px rgba(0,0,0,0.1);
}

a{
    text-decoration: none;
}
.button{
color: #389090;
background-color: #daf7f7;
border: 2px solid rgb(187, 152, 224);
padding: 10px;
border-radius: 50px 20px;
font-size: 25px;
}
.button:hover{
    -webkit-text-stroke: 1px rgb(62, 11, 74);
    background-color: rgb(209, 212, 213);
    border: 2px solid rgb(105, 181, 196);
    color:#389090
    var(--box-shadow)
}
.text1{
    border: 2px solid rgb(187, 152, 224);
    padding: 15px 0px ;
    border-radius: 50px 20px;
   
   
  
}
.text2{
    border: 2px solid rgb(187, 152, 224);
    padding: 15px 0px ;
    border-radius: 20px 50px;
   
}
.text{
    color:#daf7f7;
    font-size: large;
   
}
.row{
    text-align: center;
}
.txt1, .txt2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(246, 220, 172);
    margin-bottom: 15px;
}
.automoto{
    border: 2px solid #389090;
    border-radius:20px 50px ;
    padding: 25px  ;
    font-size: 25px;
    color: #114a4a;
}
.automoto:hover{
    background-color: rgb(181, 247, 246);
}
i{
    color: #389090;
    height: 40px;
    width: 40px;
}
.circle{
    background-image:linear-gradient(to right, rgb(250, 231, 194), rgb(227, 251, 251));
    width:  400px;
    height: 400px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;}
    .circle-h3{
    width:  500px;
    height: 400px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    background: white;
    }