
<div class="sticky-top text-dark py-1 bg-transparent">
    <div class="container">
        <div class="header-wrap">


            <!--logo-->
            <div class="header-logo">
                <a routerLink="/home" class="logo-link ">
                   OpenNfts
                </a>
            </div>
            <!-- .header-logo -->

            <!--
              <div class="header-mobile-action">
                  <div class="header-search-mobile dropdown me-2">
                      <a class="icon-btn" href="#" data-bs-toggle="dropdown">
                          <em class="ni ni-search"></em>
                      </a>
                      <div class="dropdown-menu dropdown-menu-end card-generic">
                          <div class="input-group">
                              <input type="search" class="form-control form-control-s1" placeholder="Search item here...">
                              <a href="#" class="btn btn-sm btn-outline-secondary"><em class="ni ni-search"></em></a>
                          </div>
                      </div>
                  </div>

                  <div class="header-toggle">
                      <button class="menu-toggler">
                          <em class="menu-on menu-icon ni ni-menu"></em>
                          <em class="menu-off menu-icon ni ni-cross"></em>
                      </button>
                  </div>
              </div>

            -->

          
              <nav class="navbar navbar-expand-lg sticky-top  py-1 ">
                  <ul class="menu-list ms-lg-auto float-right">

                    <li >
                        <a routerLink="/explore" class="menu-link text-light">Explore</a>
                    </li>
                    <li >
                      <a routerLink="/aboutus" class="menu-link text-light">About Us</a>
                    </li>
                    <li >
                      <a routerLink="/faq" class="menu-link text-light">FAQ</a>
                    </li>

                  </ul>


                  <ul class="menu-btns ms-5 float-right">
                    <li><button class="btn btn-primary" (click)="connectWallet()">Connect Wallet</button></li>
                  </ul>

                 
              </nav><!-- .header-menu -->
              <div class="header-overlay"></div>

          </div><!-- .header-warp-->
      </div><!-- .container-->
  </div><!-- .header-main-->



