<app-navbar></app-navbar>
  <div class="container">
    <div class="row">
    <main>
        <h1>About Us</h1>
        <p>Welcome to our NFT marketplace! We are a team of blockchain enthusiasts who believe in the power of non-fungible tokens to revolutionize the way we think about digital ownership and art.</p>
        <p>Our marketplace allows artists and creators to sell their unique digital assets to buyers who appreciate the value and uniqueness of these pieces. We use cutting-edge blockchain technology to ensure that each NFT is one-of-a-kind and truly owned by the person who holds it.</p>
        <p>We are constantly working to improve our platform and make it easier for artists and buyers to connect. If you have any suggestions or feedback, please don't hesitate to contact us.</p>
        <p>Thank you for visiting our marketplace. We hope you find something that you love!</p>
      </main>
    
    </div> 
</div>