
    <section class="section-space how-it-work-section">
      <div class="container">
          <div class="section-head text-center">
              <h2 class="mb-3">Try to</h2>
          </div><!-- end section-head -->
          <div class="row g-gs justify-content-center">
              <div class="col-10 col-sm-6 col-md-6 col-lg-3">
                  <div class="circle mx-auto card-htw text-center">
                      <span class="icon ni ni-wallet icon-lg icon-circle shadow-sm icon-wbg mx-auto mb-4 text-primary"></span>
                      <h4 class="mb-3 circle-h3">Set up your wallet</h4>
                      <p class="card-text-s1">Connect your MetaMask wallet .</p>
                  </div>
              </div><!-- end col -->
              <div class="col-10 col-sm-6 col-md-6 col-lg-3">
                  <div class="circle mx-auto card-htw text-center">
                      <span class="icon ni ni-setting icon-lg icon-circle shadow-sm icon-wbg mx-auto mb-4 text-danger"></span>
                      <h4 class="mb-3 circle-h3">Create Nft</h4>
                      <p class="card-text-s1">Register as a user, and create your Nft</p>
                  </div>
              </div><!-- end col -->
              <div class="col-10 col-sm-6 col-md-6 col-lg-3">
                  <div class="circle mx-auto card-htw text-center">
                      <span class="icon ni ni-camera icon-lg icon-circle shadow-sm icon-wbg mx-auto mb-4 text-info"></span>
                      <h4 class="mb-3 circle-h3">Add your Property</h4>
                      <p class="card-text-s1">Get paid directly to your metamask, no need for a third party.</p>
                  </div>
              </div><!-- end col -->
              <div class="col-10 col-sm-6 col-md-6 col-lg-3">
                  <div class="circle mx-auto card-htw text-center">
                      <span class="icon ni ni-money icon-lg icon-circle shadow-sm icon-wbg mx-auto mb-4 text-success"></span>
                      <h4 class="mb-3 circle-h3">List them for sale</h4>
                      <p class="card-text-s1">Manage, Delete, Add Nfts to sell</p>
                  </div>
              </div><!-- end col -->
          </div><!-- end row -->
      </div><!-- end container -->
  </section><!-- end how-it-work-section -->
  