.circle{
    background-image:linear-gradient(to right, rgb(250, 231, 194), rgb(227, 251, 251));
    width:  300px;
    height: 300px;
    margin-left: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;}
    .circle-h3{
    width:  200px;
    height: 400px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    background: white;
    }